<manifest
    package="cn.ieclipse.af.demo"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-sdk tools:overrideLibrary="cn.ieclipse.pay,com.alipay.sdk,com.brandongogetap.stickyheaders" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- 主页面 -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".my.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".my.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".my.UserInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".my.ChangePwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- common -->
        <activity
            android:name=".common.ui.FragmentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.ui.FileChooserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".common.ui.ImageBrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".common.ui.H5Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- Samples -->
        <activity
            android:name=".sample.appui.SampleAfActivityActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".sample.appui.AfActivityImmersiveSample"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".sample.appui.LoadingActivitySample"/>

        <activity
            android:name=".sample.appui.RadioTabSample"
            android:windowSoftInputMode="stateHidden"/>

        <!-- custom view -->
        <activity
            android:name=".sample.cview.FlowLayoutActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".sample.third.FlexboxLayoutActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".sample.cview.TableLayoutActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".sample.cview.TitleBarActivity"/>
        <activity android:name=".sample.cview.RoundButtonActivity"/>
        <activity android:name=".sample.cview.ColumnLayoutActivity"/>
        <activity android:name=".sample.cview.PreferenceActivity"/>
        <activity android:name=".sample.cview.StaggeredGridViewActivity"/>
        <activity android:name=".sample.cview.RadioButtonBadgeViewActivity"/>
        <activity android:name=".sample.cview.AutoHeightViewPagerActivity"/>
        <activity android:name=".sample.cview.CheckableLayoutActivity"/>
        <activity android:name=".sample.third.PercentLayoutActivity"/>
        <activity
            android:name=".sample.cview.WheelViewActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".sample.cview.SimpleMonthPickerActivity"/>

        <!-- list view -->
        <activity android:name=".sample.recycler.sort.SortListViewActivity"/>

        <!-- volley -->
        <activity android:name=".sample.volley.weather.WeatherActivity"/>
        <activity android:name=".sample.volley.upload.UploadActivity"/>
        <activity android:name=".sample.volley.upload.UploadActivity2"/>
        <activity android:name=".sample.volley.AdapterDemoActivity"/>

        <!-- aorm -->
        <activity android:name=".sample.orm.AormActivity"/>
        <activity android:name=".sample.orm.StudentListActivity"/>
        <activity android:name=".sample.orm.StudentDetailActivity"/>

        <provider
            android:name=".sample.orm.ExampleContentProvider"
            android:authorities="cn.ieclipse.af.demo.sample.aorm.example.provider"/>

        <receiver android:name="cn.ieclipse.af.app.AfDownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
    </application>

</manifest>
